{
    "extends": ["airbnb", "prettier"],
    "plugins": ["prettier", "jest"],
    "rules": {
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "no-param-reassign": [2, { "props": false }],
        "react/jsx-props-no-spreading": "off",
        "import/export": 0,
    },
    "env": {
        "jest/globals": true,
        "browser": true,
        "node": true
    }
}
